*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

.nav{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:99999;
    display:flex;
    align-items:center;
    padding:16px 70px;
    background:#f9fbfd;
    transition:.35s ease;
    width: 100%;
    overflow: visible;
    isolation: isolate; 
}

.nav.scrolled{
    padding:10px 70px;
    background:white;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.nav-left{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo{
    font-size:30px;
    color:#4f46e5;
}

.brand{
    font-size:24px;
    font-weight:700;
    color:#111827;
}

.brand span{
    color:#4f46e5;
}

.nav-center{
    display:flex;
    gap:18px;
    margin:auto;
}

.nav-btn{
    display:flex;
    align-items:center;
    gap:8px;
    padding:10px 18px;
    border:none;
    background:transparent;
    border-radius:12px;
    font-size:15px;
    font-weight:500;
    color:#374151;
    cursor:pointer;
    transition:.3s ease;
}

.nav-btn .icon{
    font-size:16px;
    opacity:0;
    transform: scale(0.5);
    transition:opacity 0.3s ease,transform 0.3s ease;
}

.nav.scrolled .nav-btn .icon{
    opacity:1;
    transform:scale(1);
}

.nav-btn:hover{
    background:#eef2ff;
    color:#180daf;
    transform: scale(1.05);
}

.nav-btn:hover .icon{
    opacity: 1;
    transform: scale(1.05);
}

.nav-right{
    display:flex;
    align-items:center;
    gap:18px;
}

.login{
    position:relative;
    z-index:100001;
}

.login-btn{
    background: transparent; 
    border: none; 
    font-size: 16px; 
    font-weight: 500; 
    color: #555; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    gap: 8px; 
    padding: 8px 14px; 
    border-radius: 10px; 
    transition: 0.3s ease;
}

.login-btn:hover{
    background:#e0e7ff;
}

.drop{
    position:absolute;
    top:calc(100% + 10px);
    right:0;
    background:white;
    border-radius:14px;
    padding:8px;
    min-width:200px;
    max-width:320px;
    box-shadow:0 20px 35px rgba(0,0,0,.12);
    z-index: 200000;
    overflow: hidden;
    opacity:0;
    transform:translateY(-10px);
    pointer-events:none;
    transition:.25s ease;
}

.drop.show{
    opacity:1;
    transform:translateY(0);
    pointer-events:auto;
}

.item{
    display: flex;
    gap:10px;
    padding:12px 14px;
    border-radius:10px;
    font-size:14px;
    cursor:pointer;
}

.item:hover{
    background:hsl(226, 100%, 97%);
    color:#4338ca;
}

.rotate{
    transform:rotate(180deg);
    transition:.3s ease;
}

.cta{
    padding:10px 22px;
    border:none;
    border-radius:14px;
    background:linear-gradient(135deg,#4f46e5,#6366f1);
    color:white;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:.3s ease;
}

.cta:hover{
    transform:translateY(-2px);
    box-shadow:0 10px 20px rgba(79,70,229,.3);
}